# Ignore VSCode files
/.vscode

# Ignore virtual environment
/venv

# Ignore logged files
/datadump

# Ignore Docker files
/Dockerfile
*.dockerignore

# Ignore any .old files
*.old

# Ignore any markdown files
*.md