<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asap" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="300; url='/logout/auto'" />
    <title>Classes - Mimir</title>
</head>

<body>
    <header>
        <div class="messageList">
            {% if messages|length > 0 %}
            <div class="messagesClear">
                <a href=".">
                    <button>
                        Clear
                    </button>
                </a>
            </div>
            {% endif %}
            {% for m in messages %}
            <div class="message">
                <p>{{ m }}</p>
            </div>
            {% endfor %}
        </div>
        <h1>Mimir</h1>
        <hr>
    </header>
    <br>
    <h3>Your Classes</h3>
    <div class="classList">
        {% for c in classes %}
        <a href="/user/classes/{{ c["itemID"] }}/assignments">
            <div class="classItem">
                <h4>{{ c["itemName"] }}</h4>
                <hr>
                <p>{{ c["itemSection"] or "Section not found"}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <br>
    <br>
    <footer>
        <a href="/user">
            <button>
                &leftarrow; Back
            </button>
        </a>
        <a href="/logout">
            <button>
                Logout
            </button>
        </a>
    </footer>
</body>

</html>